body {
    padding-top: 50px;
}

h4 {
    text-align: center;
}

.alert {
    text-align: center;
}
.pagination-left {
  text-align: left !important;
}

#map_canvas img {
  max-width: none;
}
.center-table
{
  margin: 0 auto !important;
  float: none !important;
}   

.p5lr {
    padding-left: 5px;
    padding-right: 5px;
}

.w50c {
    width: 50%;
    margin: 20px auto;
}
.tightborder {
    display: table;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
}

.lsnone {
    list-style: none;
}

.tcy a{
    color: #FAA42C;
}

ul {
    list-style-type: none;
}

.block {
    display: block;
}

.block:hover {
    display: block;
    text-decoration: none;
}

.error_field {
    text-align: center;
    color: red;
    font-size: 12px;
}

.error_field ul li{
    text-align: center;
    padding-right: 25px;
}

input {
    text-align: center;
}