{% extends 'IBWWebsiteBundle:Stairs:layout.html.twig' %}
{% block home_active%}class="active"{% endblock %}
{% block title %}Stairs Application{% endblock %}
{% block body %}
    <div class="well">
        <div class="pagination-centered index-page">
        </div>
    </div>
{% endblock %}
