{% extends 'IBWWebsiteBundle:Ibee:layout.html.twig' %}
{%block jobs_active%}class="active"{%endblock%}
{% block content %}
    <div class="container container-body pagination-centered">
        <h3> Ibee Hiring </h3>
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th>{%trans%}Code{%endtrans%}</th>
                        <th>{%trans%}Position{%endtrans%}</th>
                        <th>{%trans%}Description{%endtrans%}</th>
                    </tr>
                </thead>
                <tbody>
                    <td>IBW-SG-0101</td>
                    <td>{%trans%}Senior Web Engineer{%endtrans%}</td>
                    <td>{%trans%}Usual Web Developer duties. This person should have extended hands-on experience with scaling huge data systems{%endtrans%}</td>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}