{% extends 'IBWWebsiteBundle:Ibee:layout.html.twig' %}
{% block mob_active %}class="active"{% endblock %}
{% block content %}
    <div class="container container-body pagination-centered">
        <a href="http://ibee.intelligentbee.com/stairs">
            <image src="{{ asset('/images/icon_03.png') }}" style="width: 50px; height: 50px" alt="" />
        </a>
        <h4>
            <a href="http://ibee.intelligentbee.com/stairs">{%trans%}Stairs App{%endtrans%}</a>
        </h4>
        <pre>{%trans%}Stairs App is a mobile application for android that helps you keep track of your exercise by mean of climbing stairs on the run{%endtrans%}</pre>
    </div>
{% endblock %}